[Desktop Entry]
Type=Application
Name=MsiPowerCenter
Comment=A user-friendly application to manage your MSI computer
Path=/opt/MsiPowerCenter
Exec=/opt/MsiPowerCenter/gui
Icon=/opt/MsiPowerCenter/icon.png
Terminal=false
